html {
  background-color: #555;
  font-family: "Bungee Inline", cursive;
}

.jopening {
  font-family: "Playfair Display", serif;
}

.jo-container {
  color: #fff;
  text-align: center;
}

.jo-long {
  font-family: "Roboto Slab", serif;
}

.j-1 {
  color: #001;
}

.j-2 {
  color: #002;
}

.j-3 {
  color: #003;
}
