html {
  background-color: #555;
  font-family: "Bungee Inline", cursive;
}

.jopening {
  font-family: "Playfair Display", serif;
}

.jo-container {
  color: #fff;
  text-align: center;
}

.jo-long {
  font-family: "Roboto Slab", serif;
}

.j-1 {
  color: #001;
}

.j-2 {
  color: #002;
}

.j-3 {
  color: #003;
}

.j-4 {
  color: #004;
}

.j-5 {
  color: #005;
}

.j-6 {
  color: #006;
}

.j-7 {
  color: #00a;
}

.j-8 {
  color: #00b;
}

.j-9 {
  color: #00c;
}

.j-10 {
  color: #00d;
}

.j-11 {
  color: #00e;
}

.j-12 {
  color: #00f;
}
