html {
  background-color: #000;
  font-family: "Bungee Inline", cursive;


}

.jopening {
  font-family: "Playfair Display", serif;
}

.jo-container {
  color: #fff;
  text-align: center;
}

.jo-long {
  font-family: "Roboto Slab", serif;
}
